@model Contas.Models.ViewModel.TabelaMesViewModel
<table class="table table-condensed table-bordered">
    <thead>
        <tr>
            <th>@Model.Mes</th>
            <th class="text-right">@Model.ValorMes</th>
        </tr>
    </thead>
    <tbody>
        @for (int i=0; i<Model.linhas; i++) {
            if (@Model.movimentacoes.ElementAtOrDefault(i) != null) {
                <tr>
                    <td>@Model.movimentacoes[i].Nome</td>
                    <td class="text-right">@Model.movimentacoes[i].Valor</td>
                </tr>
            }
            else {
                <tr>
                    <td>&nbsp;</td>
                    <td class="text-right">&nbsp;</td>
                </tr>
            }
        }
    </tbody>
    <tfoot>
        <tr>
            <td>Save</td>
            <td class="text-right">@Model.save</td>
        </tr>
        <tr>
            <td>Total</td>
            <td class="text-right">@Model.ValorTotal</td>
        </tr>
        <tr>
            <td>Sobra</td>
            <td class="text-right">@Model.Sobra</td>
        </tr>
    </tfoot>
</table>