@model Contas.Models.ViewModel.TabelaMesViewModel
<table class="table table-condensed table-bordered tabela_mes">
    <thead>
        <tr>
            <th>@Model.Mes</th>
            <th class="text-right">@Model.ValorMes</th>
        </tr>
    </thead>
    <tbody>
        @for (int i=0; i<Model.Linhas; i++) {
            if (@Model.Movimentacoes.ElementAtOrDefault(i) != null) {
                <tr>
                    <td class="td_@Model.Movimentacoes[i].Status td_@Model.Movimentacoes[i].Tipo"><input type="hidden" class="id_movimentacao" value="@Model.Movimentacoes[i].Id" />@Model.Movimentacoes[i].Nome</td>
                    <td class="text-right td_valor td_@Model.Movimentacoes[i].Status td_@Model.Movimentacoes[i].Tipo">@Model.Movimentacoes[i].Valor</td>
                </tr>
            }
            else {
                <tr>
                    <td>&nbsp;</td>
                    <td class="text-right">&nbsp;</td>
                </tr>
            }
        }
    </tbody>
    <tfoot>
        <tr>
            <td><input type="hidden" class="id_movimentacao" value="@Model.SaveId" />Save</td>
            <td class="text-right save_@Model.Indice">@Model.Save</td>
        </tr>
        <tr>
            <td>Total</td>
            <td class="text-right"><span class="valor_total">@Model.ValorTotal</span></td>
        </tr>
        <tr>
            <td>Sobra</td>
            <td class="text-right"><span class="valor_sobra">@Model.Sobra</span></td>
        </tr>
    </tfoot>
</table>