@model Contas.Models.ViewModel.ConsolidadosViewModel
<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li><span class="valores_topo"><img src="~/images/casa.png" /> R$ @Model.Casa</span></li>
        <li><span class="valores_topo"><img src="~/images/itau.png" /> R$ @Model.Itau</span></li>
        <li><span class="valores_topo"><img src="~/images/inter.png" /> R$ @Model.Inter</span></li>
        <li class="divisor">&nbsp;</li>
        <li><span class="valores_topo"><img src="~/images/safe.png" /> R$ @Model.Savings</span></li>
        <li class="divisor">&nbsp;</li>
        @foreach (var cartao in Model.Cartoes) {
            <li>
                <div class="row">
                    <div class="col-md-4 topo_cartoes">
                        <div class="col-md-12">
                            <span class="valores_topo"><img src="~/images/@(cartao.Nome).png" /></span>
                        </div>
                    </div>
                    <div class="col-md-8 topo_cartoes col_valores">
                        <div class="col-md-12 topo_cartoes">
                            <span class="valores_topo">R$ @cartao.CreditoAtual / @cartao.CreditoTotal<br>@cartao.Numero</span>
                        </div>
                    </div>  
                </div>
            </li>
        }
    </ul>
    &nbsp;
    &nbsp;
    <i class="fa fa-table fa-inverse fa-lg" id="exportar" style="margin-top: 22px; cursor: pointer"></i>
    <i class="fa fa-circle-notch fa-inverse slow-spin fa-2x fa-fw" style="display: none"></i>
</div>