@model Contas.Models.ViewModel.FormMovimentacaoViewModel
<input type="hidden" id="id_movimentacao_form" value="@Model.Id">
<div class="col-md-6">
    <div class="form-group">
        <label style="display:block">Nome</label>
        @Html.TextBoxFor(model => model.Nome, new { @class = "form-control", @placeholder = "Nome", @Value = Model.Nome, @autofocus = true })
    </div>
    <div class="form-group">
        <label style="display:block">Data</label>
        @Html.TextBoxFor(model => model.Data, new { @class = "form-control", @placeholder = "Data", @Value = Model.Data, @autofocus = true })
    </div>
    <div class="form-group">
        <label style="display:block">Tipo</label>
        <select name='tipo' class="form-control">
            @foreach (var tipo in Model.ListaTipos) {
                <option value="@tipo.nome">@tipo.nome</option>
            }
        </select>
    </div>
</div>
<div class="col-md-6">
    <div class="form-group">
        <label style="display:block">Valor</label>
        @Html.TextBoxFor(model => model.Valor, new { @class = "form-control", @placeholder = "Valor", @Value = Model.Valor, @autofocus = true })
    </div>
    <div class="form-group">
        <label style="display:block">Status</label>
        <select name='status' class="form-control">
            @foreach (var status in Model.ListaStatus) {
                <option value="@status.nome">@status.nome</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label style="display:block">Cartão</label>
        <select name='cartao' class="form-control">
            <option value="">Nenhum</option>
            @foreach (var cartao in Model.ListaCartoes) {
                <option value="@cartao.Id">@cartao.Nome</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label style="display:block">Parcelas</label>
        @Html.TextBoxFor(model => model.Parcelas, new { @class = "form-control", @placeholder = "Parcelas", @Value = Model.Parcelas })
    </div>
</div>